/* .outCategory{
  position: relative;
} */
.categories {
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-left: 0.5rem;
  position: sticky;
  background-color: white;
  top: 75px;
  width: 100%;
  overflow: hidden;
  /* z-index: 1000; */
}

.hashtag {
  cursor: pointer;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
  padding: 0.4rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  white-space: nowrap;
}

.hashtagClicked {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  color: white;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(48, 48, 48);
  border-radius: 20px;
  white-space: nowrap;
}

.writingBtn {
  text-align: right;
  margin: 1rem 0 0.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-right: 0.3rem;
  cursor: pointer;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: rgb(250, 206, 27);
  transition: 0.3s;
  font-size: 0.65rem;
  font-weight: bold;
  color: white;
}

.sort {
  width: 4.5rem;
  height: 100%;
  font-size: 0.65rem;
  margin-left: 0.3rem;
  color: grey;
  background: url("https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png")
    calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
  outline: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort::-ms-expand {
  display: none;
}
