.categories {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.hashtag {
  cursor: pointer;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
  padding: 0.4rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

.hashtagClicked {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
  color: white;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(48, 48, 48);
  border-radius: 20px;
}

.writingBtn {
  text-align: right;
  margin-bottom: 1rem;
}

.button {
  cursor: pointer;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: rgb(250, 206, 27);
  transition: 0.3s;
  font-size: 0.65rem;
  font-weight: bold;
  color: white;
}
.feedList {
  border: 1px solid red;
}

@media screen and (max-width: 33rem) {
  .categories {
    width: 100%;
  }
  /*li 태그 확인 */
  .feedList {
    border: 1px solid red;
    width: 100%;
  }
}
