/* 상위 컴포넌트에서 flex걸어서 로그인창 가운데정렬하기  */

.signin {
    width: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border:2px solid black;
  }
  
  
  .title{
    background-color:  black;
    padding: 0.5em 2em;
    color: white;
  }
  
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
  
  }
  
  .item {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 7px;
  }
  .text{
      border:0; 
    border-bottom:1px solid grey; 
    border-radius: 0.5rem;
    width: 100%;
    height:  2.5em;
    font-size: 1rem;
    text-indent: 1rem;
    outline: none;
  }
  
  .button {
    width: 100%;
    height: 2.5em;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border: 0.1rem solid black;
    outline: 0;
  }
  
  .button:hover {
  
    color: rgb(82, 78, 78);
  }
  
  
  .label{  /*사용가능 여부 걸러주기*/
    border:1px solid black;
    display: none;
    width: 50%; 
    height: 15%;
    border: 0 ;
    font-size: 13px;
    padding: 5px 5px;
    color: red;
  }

  
  
  .signup{
    width: 100%;
    height: 4em;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: 0.2rem solid black;
    outline: 0;
  }
  
  .signup:hover{
    color: white;
    background-color: black;
  }