.container {
  /* padding-top: 5rem; */
  list-style: none;
  margin: 0 auto;
  width: 500px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  margin-bottom: 50px;
}
.images {
  cursor: pointer;
  display: flex;
  margin-bottom: 0.8rem;
  width: 500px;
  height: 350px;
  overflow: hidden;
}

.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

.options {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.optionName {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(67, 67, 67);
  font-size: 1.5rem;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
}

.radioBox {
  cursor: pointer;
}

/* .result{ 
  border: 1px solid red;
} */

@media screen and (max-width: 500px) {
  .container {
    /*최상위 바디 컨테이너*/
    width: 100%;
    margin: 0 auto;
  }
  .images {
    width: 100%;
    height: 280px;
  }
}
