@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.contain {
  width: 500px;
  margin: 0 auto;
}

.infobox {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

.imgbox {
  padding: 0.5em 2em;
  width: 40%;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
}
.imgborder {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
}
.faceimg {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.textbox {
  margin-top: 30px;
  padding: 0.5em 2em;
  width: 100%;
  height: 25rem;
  display: flex;
  border-top: 1px solid rgb(185, 180, 180);
}
.ulbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.list {
  display: block;
  width: 23rem;
  height: 4rem;
  border-bottom: 1px solid rgb(185, 180, 180);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  margin-left: 1rem;
  width: 15rem;
  height: 3rem;
  outline: none;
  background-color: none;
  font-size: 1.4rem;
  text-align: end;
  border: none;
  color: grey;
}

/* btns*/

.btns {
  padding: 5em 4em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  padding: 0.8em 2em;
  background-color: rgb(240, 199, 35);
  color: black;
  font-family: "Fredoka One", cursive;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

/*모달*/
/* 상위 컴포넌트에서 flex걸어서 로그인창 가운데정렬하기  */

span {
  display: block;
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.realVote {
  width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbc000;
  border-radius: 10px;
  border: 1px solid grey;
  height: 140px;
  font-weight: bold;
}

.title {
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family: "Fredoka One", cursive;
}

.btns1 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn2 {
  outline: none;
  background-color: white;
  border: none;
  width: 100px;
  height: 30px;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.btn2:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 500px) {
  .realVote {
    width: 100%;
  }
}
