.contain {
  width: 500px;
  margin: 0 auto;
}

.infobox {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.imgbox {
  padding: 0.5em 2em;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgborder {
  display: block;
  width: 60%;
  height: 60%;
  border-radius: 30%;
  box-sizing: border-box;
  background-color: rgb(243, 242, 232);
}
.faceimg {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}
.editbox {
  margin-top: 0.5rem;
  color: white;
  font-size: 1rem;
  background-color: rgb(250, 206, 27);
  border-radius: 5px;
  width: 13rem;
  height: 2rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.editbtn {
  position: absolute;
  width: 100px;
  height: 10px;
  top: 400px;
  border: 0;
  cursor: pointer;
}

.textbox {
  padding: 0.5em 2em;
  width: 100%;
  height: 25rem;
  display: flex;
  border-top: 1px solid rgb(185, 180, 180);
}
.ulbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.list {
  display: block;
  width: 23rem;
  height: 4rem;
  border-bottom: 1px solid rgb(185, 180, 180);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  margin-left: 1rem;
  width: 15rem;
  height: 3rem;
  outline: none;
  background-color: none;
  font-size: 1.4rem;
  text-align: end;
  border: none;
  color: grey;
}

/* btns*/

.btns1 {
  padding: 5em 4em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn2 {
  padding: 0.8em 2em;
  background-color: rgb(240, 199, 35);
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

/* 모달창 확인하기 => 나중에 realVote로 변경 */

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
span {
  display: block;
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  border: 1px solid red;
}

.realVote {
  width: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbc000;
  border-radius: 10px;
  border: 1px solid grey;
  height: 140px;
  font-weight: bold;
}

.title {
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family: "Fredoka One", cursive;
}

.btns {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn {
  outline: none;
  background-color: white;
  border: none;
  width: 100px;
  height: 30px;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 33rem) {
  .realVote {
    width: 28em;
  }
}
