span,label{
  display: block;
}
.container {
  /* padding-top: 5rem; */
  list-style: none;
  margin: 0 auto;
  width: 500px;
  justify-content: center;
  align-items: center;
  border:1px solid red; 
}

.goback{
  height: 50px;
  border:1px solid red; 
  width: 50px;
  box-sizing: border-box;
  cursor: pointer;
}
.home{
  width: 100%;
  height: 100%;
  z-index: 10;

}


.images {
  cursor: pointer;
  display: flex;
  margin-bottom: 0.8rem;
  padding-top: 5rem;
  width: 500px;
  height: 350px;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

.graph{
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.imgbox{
  width:80%;
  height: 25%; 
  border:1px solid grey;
  position: relative;
  
}
.percent{
  position: absolute;
  z-index: 10;

  top: 9px;
  left: 4px;
  font-family: "Fredoka One", cursive;
}

.img1,
.img2{
    height: 95%;
   background-color: rgb(250, 206, 27);
   border-radius: 0px 7px 7px 0px;
   position: absolute;
   top:1px; 
}

/* .img1{
  width: 30%;
}
.img2{
  width: 70%;
} */

.title{
  width:80%;
  height: 15%;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
}
