@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

span,
label {
  display: block;
}
.container {
  padding: 5rem 0;
  list-style: none;
  margin: 0 auto;
  width: 500px;
  height: 80vh;
}

.goback {
  height: 40px;
  border-bottom: 1px solid gray;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.bigtitle {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  font-size: 1.4rem;
}
.back {
  position: absolute;
  bottom: 0.3rem;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.images {
  cursor: pointer;
  display: flex;
  margin-bottom: 0.8rem;
  /* padding-top: 5rem; */
  width: 500px;
  height: 350px;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

.graph {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px 5px 0px;
}

.imgbox {
  width: 80%;
  height: 25%;
  border: 2px solid #fbc000;
  position: relative;
  /* border-radius: 0px 7px 7px 0px; */
}

.percent1,
.percent2 {
  position: absolute;
  z-index: 1;
  top: 9px;
  font-family: "Fredoka One", cursive;
}

.img1,
.img2 {
  height: 100%;
  background-color: #fbc000;
  /* border-radius: 0px 7px 7px 0px; */
  position: absolute;
}

.img2 {
  right: 0;
}
.percent1 {
  left: 10px;
}
.percent2 {
  right: 10px;
}

.title1 {
  width: 80%;
  height: 15%;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  margin-left: 10px;
}
.title2 {
  width: 80%;
  height: 15%;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
.voteMessage {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .container {
    /*최상위 바디 컨테이너*/
    width: 100%;
    margin: 0 auto;
    min-height: 70vh;
  }
  .images {
    width: 100%;
    height: 280px;
  }
}

@media screen and (max-height: 850px) {
  .container {
    padding: 3rem 0 4.5rem 0;
  }
  .images {
    height: 230px;
  }
}
