.container {
  padding: 5rem 0;
  list-style: none;
  margin: 0 auto;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.images {
  cursor: pointer;
  display: flex;
  margin-bottom: 0.8rem;
  width: 500px;
  height: 350px;
  overflow: hidden;
}

.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

.options {
  display: flex;
  justify-content: space-around;
}

.optionName {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(67, 67, 67);
  font-size: 0.8rem;
}

/* .radioBox {
  width: 1rem;
} */

.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.user {
  margin-right: 0.3rem;
  margin-bottom: 2rem;
  text-align: right;
  font-size: 0.6rem;
  font-style: italic;
  color: rgb(150, 150, 150);
}

.content {
  margin: 0 0.3rem 2rem 0.3rem;
  font-size: 0.8rem;
  color: rgb(67, 67, 67);
}
.categories {
  margin-bottom: 0.3rem;
}
.hashtag {
  display: inline-block;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  background-color: rgb(240, 199, 35);
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 0.7rem;
}

.voteText {
  text-align: right;
  font-size: 0.68rem;
  margin-bottom: 0.5rem;
  margin-right: 0.3rem;
}

@media screen and (max-width: 33rem) {
  .container {
    /*최상위 바디 컨테이너*/
    width: 100%;
  }
  .images {
    width: 100%;
  }
}
