@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

span {
  display: block;
}
.container {
  width: 100%;
  height: 100px;
  padding: 1em;
  /* background-color: #fad16a; */
  background-color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.info {
  /*ul부분*/
  list-style: none;
  padding: 0.8rem 0.8rem;
  display: flex;
}
.title {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Fredoka One", cursive;
  /* font-weight: bold; */
}

.name {
  font-family: "Fredoka One", cursive;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  list-style: none;
}
.rights {
  font-size: 0.5rem;
  vertical-align: sub;
}

@media screen and (max-width: 500px) {
  .contentbox {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
