.container {
  width: 100%;
  height: 250px;
  padding: 0.5em;
  /* background-color: #fad16a; */
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbox {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.info {
  /*ul부분*/
  list-style: none;
  padding: 0.8rem 0.8rem;
}
.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.name {
  /*li부분 > span*/
  display: block;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}
