.container {
  margin-bottom: 3rem;
  overflow: hidden;
}

.img {
  cursor: pointer;
  display: flex;
  margin-bottom: 0.6rem;
  width: 500px;
  height: 350px;
}
.image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
  font-weight: bold;
  color: black;
}

.categories {
  margin-bottom: 0.8rem;
}
.hashtag {
  display: inline-block;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  background-color: rgb(240, 199, 35);
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 0.7rem;
}

.voteText {
  font-size: 0.7rem;
  margin-left: 0.5rem;
  color: rgba(201, 83, 105, 0.959);
  font-weight: bold;
}

@media screen and (max-width: 33rem) {
  .container {
    width: 100%;
    /* margin: 0 auto; */
  }
  .img {
    width: 100%;
  }
}
