@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.header {
  width: 100%;
  height: 90px;
  background-color: #fbc000;
  position: sticky;
  top: 0;
}

.contentbox {
  width: 500px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 0px;
}

.title {
  position: absolute;
  top: 30px;
  left: 180px;
  width: 150px;
  font-family: "Fredoka One", cursive;
  color: black;
  text-decoration-line: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.btns {
  width: 140px;
  height: 30px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
}

.signbtn,
.mypagebtn {
  width: 70px;
  height: 30px;
  border: 0;
  background-color: #fbc000;
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

.mypagebtn {
  margin-left: 10px;
}

.signbtn:hover,
.mypagebtn:hover {
  color: rgb(238, 235, 235);
}

/*반응형*/
@media screen and (max-width: 33rem) {
  .contentbox {
    width: 28rem;
  }

  .btns {
    width: 140px;
    height: 30px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
  }

  .signbtn,
  .mypagebtn {
    width: 60px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
