@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 150px;
  margin-top: 1rem;
  background-color: #fbc000;
}

.contentbox {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

/* .underline{
    text-decoration: none;
} */

.title {
  position: absolute;
  top: 30px;
  left: 180px;
  width: 140px;
  font-family: "Fredoka One", cursive;
  color: black;
  text-decoration-line: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.btns {
  width: 115px;
  height: 1.5rem;
  position: absolute;
  right: 1em;
  top: 3.4em;
}
.signin,
.mypage {
  font-size: 0.8rem;
  font-weight: bold;
  height: 70%;
  border: 0;
  background-color: #fbc000;
  cursor: pointer;
  outline: none;
}

.signin:hover,
.mypage:hover {
  color: gray;
}

.mypage {
  margin-left: 10px;
}

/*반응형*/
@media screen and (max-width: 33rem) {
  .contentbox {
    width: 28rem;
  }

  .btns {
    height: 5rem;
    position: absolute;
    right: 0.3em;
    top: 0.1em;
    display: flex;
    flex-direction: column;
  }
}

.btns {
  height: 5rem;
  position: absolute;
  right: 1em;
  top: 1em;
  display: flex;
  flex-direction: column;
}
