.header {
    width:100%;
    height: 200px;
    padding: 0.5em;
    background-color:rgb(247, 240, 229);
}
.contentbox{
    width: 500px;
    height: 9rem;
    margin: 0 auto;
    position: relative;
    top: 1rem;
}

.underline{
    text-decoration: none;
}

.title {
    width: 10.5rem;
    height: 3rem;
    margin: 0.8em;
    padding: 0.2rem 0.8rem;
    color: black; 
    font-size: 2rem;
    position: absolute;
    left: 8rem;
    top:1rem;
    text-align: center;
}


.btns{
    height: 1.5rem;
    position: absolute;
    right: 1em;
    top: 3.4em;

}
.signin,
.mypage{
    font-size: 0.8rem;
    font-weight: bold;
    height: 70%;
    border: 0; 
    background-color: rgb(247, 240, 229);
    cursor: pointer;
    outline: none;
}

.signin:hover,
.mypage:hover{
    color:gray;
}

.mypage{
    margin-left: 0.5rem;
}


/*반응형*/
@media screen and (max-width: 33rem) {
    .contentbox{
        width: 28rem;
    }
 
    .btns{
        height: 5rem;
        position: absolute;
        right: 1em;
        top: 1em;
        display: flex;
        flex-direction: column;
    
    }
}
