.container {
  /*최상위 바디 컨테이너*/
  width: 500px;
  margin: 0 auto;
  height: 80vh;
}
.category {
  margin-top: 1rem;
  border-bottom: 1px solid #b8b6b3;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: sticky;
  top: 75px;
  background: white;
}

.myinfo,
.myinfosub {
  /* flex-basis: 19%; */
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.myinfosub,
.mycontentsub {
  border-bottom: 3px solid #fbc000;
}

.mycontent,
.mycontentsub {
  /* flex-basis: 30%; */
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.myinfo:hover,
.mycontent:hover {
  color: grey;
}

@media screen and (max-width: 500px) {
  .container {
    /*최상위 바디 컨테이너*/
    width: 100%;
    margin: 0 auto;
  }
  .body {
    width: 100%;
  }
}
