

.container{
    /*최상위 바디 컨테이너*/
    width: 500px;
    margin:0 auto;
}
.category {
  margin-bottom: 3rem;
  border-bottom: 1px solid #b8b6b3;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
.myinfo {
  flex-basis: 19%;
}
.mycontent {
  flex-basis: 30%;
}
.myinfo,
.mycontent {
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.myinfo:hover,
.mycontent:hover {
  color: grey;
}

/*
카테고리 클릭되면, myinfo/mycontent 검정밑줄
*/


/* .body{
    border-top: 1px solid rgb(243, 242, 232);
    border-bottom: 1px solid rgb(243, 242, 232);
} */


/*반응형*/
@media screen and (max-width: 62rem) {
  .myinfo {
    flex-basis: 16%;
  }
  .mycontent {
    flex-basis: 22%;
  }
  .myinfo,
  .mycontent {
    font-size: 0.9rem;
  }
}
