.container{
    /*최상위 바디 컨테이너*/
    width: 500px;
    margin:0 auto;
}
.category {
  margin-bottom: 3rem;
  border-bottom: 1px solid #b8b6b3;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.myinfo,
.myinfosub {
  flex-basis: 19%;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.myinfosub,
.mycontentsub  {
  border-bottom: 2px solid black;
}


.mycontent,
.mycontentsub {
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.myinfo:hover,
.mycontent:hover {
  color: grey;
}


@media screen and (max-width: 33rem) {
  .container{
    /*최상위 바디 컨테이너*/
    width: 470px;
    margin:0 auto;
}

}