@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.infobox {
  width: 100%;
  margin: 0 auto;
  /*height*/
  margin-top: 4rem;
  display: flex;
  /* flex: 1; */
  border-bottom: 1px solid grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgbox {
  /*editor*/
  padding: 0.5em 0.5em;
  /* margin-left: 2rem; */
  /* flex-basis: 30%; */
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
}
.imgborder {
  /* margin-top: 2rem; */
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
}
.faceimg {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.textbox {
  /*oreview*/

  padding: 0.5em 2em;
  /* flex-basis: 70%; */
  width: 100%;
  /* height: 25rem; */
  display: flex;
  /* border-top: 1px solid rgb(185, 180, 180); */
}
.ulbox {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list {
  display: block;
  border-bottom: 1px solid rgb(185, 180, 180);
  width: 100%;
  height: 7rem;
  font-size: 1.2rem;
  color: rgb(61, 57, 57);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.input {
  margin-left: 2rem;
  width: 70%;
  height: 3rem;
  outline: none;
  background-color: none;
  font-size: 1.2rem;
  text-align: end;
  border: none;
  color: grey;
}

/* btns*/

.btns {
  padding: 5em 4em 10rem 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  margin: 0 1rem;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: rgb(250, 206, 27);
  transition: 0.3s;
  font-size: 0.8rem;
  color: white;
}
.out {
  padding: 0.8em 2em;
  background-color: black;
  color: rgb(240, 199, 35);
  font-family: "Fredoka One", cursive;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
@media screen and (max-height: 850px) {
  .btns {
    padding: 3rem 4em 8rem 4rem;
  }
  .infobox {
    margin-top: 2.5rem;
  }
  .list {
    /* display: block; */
    border-bottom: 1px solid rgb(185, 180, 180);
    width: 100%;
    height: 5rem;
  }
}
