
.infobox{
    width: 90%;
    margin: 0 auto;
    /*height*/
    display: flex;
    flex: 1;

    border-bottom: 1px solid grey;
}


.imgbox{  /*editor*/
    padding: 0.5em 2em;
    flex-basis: 30%;
    height: 40rem;


}
.imgborder{
    margin-top: 2rem;
    display: block;
    width: 95%;
    height: 30%;
    border-radius: 30%;
    box-sizing: border-box;
    background-color: rgb(243, 242, 232);
}
.faceimg{
    width: 100%;
    height:100%;
}

.textbox{/*oreview*/
    padding: 0.5em 2em;
    flex-basis: 70%;
    height: 40rem;


 
    display: flex;

}
.ulbox{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.list{
    display: block;
    border-bottom:1px solid rgb(185, 180, 180);
    width: 21rem;
    height: 4rem;
    font-size: 1.2rem;

    display: flex;
    align-items:center;
    justify-content: space-between;
}

.input{
    margin-left: 2rem;
    width: 15rem;
    height: 3rem;
    outline: none;
    background-color: none;
    font-size: 1.4rem;
    text-align:end;
    border:none;
    color: grey;

}

/* btns*/

.btns{
    padding: 3em 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    padding: 0.8em 2em;
    background-color: none;
    background-color:  gainsboro;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: none;

}



/*반응형*/
@media screen and (max-width: 62rem) {
    .infobox{
        flex-direction: column;

    }
    .imgbox{  /*editor*/
        padding: 3em 5em;
        flex-basis: 30%;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgborder{
        display: block;
        width: 25rem;
        height: 15rem;
        border-radius: 30%;
        background-color: rgb(243, 242, 232);
    }
    .textbox{/*oreview*/
        padding: 0.5em 2em;
        flex-basis: 70%;
        height: 40rem;
       
    
    }
}