@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.infobox {
  width: 100%;
  margin: 0 auto;
  /*height*/
  display: flex;
  /* flex: 1; */
  border-bottom: 1px solid grey;
  flex-direction: column;
}

.imgbox {
  /*editor*/
  padding: 0.5em 0.5em;
  /* flex-basis: 30%; */
  width: 40%;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
}
.imgborder {
  /* margin-top: 2rem; */
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
}
.faceimg {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.textbox {
  /*oreview*/

  padding: 0.5em 2em;
  /* flex-basis: 70%; */
  width: 100%;
  height: 25rem;
  display: flex;
  /* border-top: 1px solid rgb(185, 180, 180); */
}
.ulbox {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list {
  display: block;
  border-bottom: 1px solid rgb(185, 180, 180);
  width: 100%;
  height: 7rem;
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  margin-left: 2rem;
  width: 50%;
  height: 3rem;
  outline: none;
  background-color: none;
  font-size: 1.4rem;
  text-align: end;
  border: none;
  color: grey;
}

/* btns*/

.btns {
  padding: 5em 4em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  padding: 0.8em 2em;
  background-color: rgb(240, 199, 35);
  color: black;
  font-family: "Fredoka One", cursive;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.out {
  padding: 0.8em 2em;
  background-color: black;
  color: rgb(240, 199, 35);
  font-family: "Fredoka One", cursive;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

/*반응형*/

/* @media screen and (max-width: 62rem) {
    .infobox{
        flex-direction: column;

    }
    .imgbox{  
        padding: 3em 5em;
        flex-basis: 30%;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgborder{
        display: block;
        width: 25rem;
        height: 15rem;
        border-radius: 30%;
        background-color: rgb(243, 242, 232);
    }
    .textbox{
        padding: 0.5em 2em;
        flex-basis: 70%;
        height: 40rem;
       
    
    }
} */
