input {
  width: 100%;
  height: 2rem;
  border: 1px solid rgb(193, 193, 193);
}

textarea {
  width: 100%;
  border: 1px solid rgb(193, 193, 193);
}

.container {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  color: rgb(85, 85, 85);
  font-size: 0.8rem;
}
.category {
  margin-bottom: 1rem;
}

.filebox {
  text-align: right;

}
.filebox label {
  display: inline-block;
  padding: 0.3em 0.5em;
  color: #fff;
  font-size: 0.7rem;
  line-height: normal;
  vertical-align: middle;
  background-color: rgb(250, 206, 27);
  cursor: pointer;
  border: 1px solid rgb(250, 206, 27);
  border-radius: 5px;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type="checkbox"] {
  display: none;
}

.submit {
  text-align: center;
  margin-top: 3rem;
}

.tags {
  height: 2rem;
  display: flex;
  align-items: center;
}

.hashtag {
  cursor: pointer;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.hashtag:hover {
  border: none;
  color: white;
  background-color: rgb(48, 48, 48);
}

.submitBtn {
  margin: 0 1rem;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: rgb(250, 206, 27);
  transition: 0.3s;
  font-size: 0.8rem;
  color: white;
}

.subTitle {
  font-size: 0.2rem;
}
